.article,
.article * {
  box-sizing: border-box;
}
.article {
  background: #ffffff;
  height: 3603px;
  position: relative;
  overflow: hidden;
}
.landing-page {
  background: #ffffff;
  width: 1440px;
  height: 4547px;
  position: absolute;
  left: 0px;
  top: -1px;
  overflow: hidden;
}
.section-heading {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 48px;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 640px);
  top: 3857px;
  width: 625px;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm, 32px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 1280px;
  position: absolute;
  left: 80px;
  top: 3963px;
}
.customer-quote {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: var(--var-color-border, #e6e6e6);
  border-width: 1px;
  padding: var(--spacing-sm, 32px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m, 48px);
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.a-terrific-piece-of-praise {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.avatar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.avatar2 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: relative;
  object-fit: cover;
}
.frame-2610301 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.name {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.description {
  color: #828282;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-quote2 {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: var(--var-color-border, #e6e6e6);
  border-width: 1px;
  padding: var(--spacing-sm, 32px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m, 48px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.a-fantastic-bit-of-feedback {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.a-genuinely-glowing-review {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.navigation-footer {
  background: #ffffff;
  height: 264px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}
.items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 517px;
  top: 48px;
}
.topic {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page {
  color: #454545;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.items2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 298px;
  top: 48px;
}
.items3 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 80px;
  top: 48px;
}
.site-name {
  color: #000000;
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
  position: absolute;
  left: 80px;
  top: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social-icons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 80px;
  top: 176px;
}
.buttons-icon {
  border-radius: 4px;
  padding: 8px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px 0 0 0;
  width: 1280px;
  height: 0px;
  position: absolute;
  left: 80px;
  top: 1px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.section {
  background: #f7f7f7;
  width: 1440px;
  height: 236px;
  position: absolute;
  left: 0px;
  top: 4311px;
  overflow: hidden;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 80px;
  top: 80px;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.button2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button3 {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.secondary-button {
  color: var(--var-color-text, rgba(0, 0, 0, 0.9));
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-heading2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 48px;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 640px);
  top: 89px;
  width: 625px;
}
.frame-1321317460 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 176px;
  top: 1234px;
  overflow: hidden;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  height: 61px;
  position: absolute;
  left: 67px;
  top: 2905px;
}
._24-1 {
  width: 1450px;
  height: 977px;
  position: absolute;
  left: 10px;
  top: 2447px;
  object-fit: cover;
  aspect-ratio: 1450/977;
}
._049-1 {
  width: 679px;
  height: 371px;
  position: absolute;
  left: 720px;
  top: 726px;
  aspect-ratio: 679/371;
}
._038-1 {
  width: 666px;
  height: 371px;
  position: absolute;
  left: 29px;
  top: 726px;
  aspect-ratio: 666/371;
}
._25-1 {
  width: 1407px;
  height: 868px;
  position: absolute;
  left: 10px;
  top: 726px;
  object-fit: cover;
  aspect-ratio: 1407/868;
}
.photo-2022-11-26-13-15-47-1 {
  width: 588px;
  height: 423px;
  position: absolute;
  left: 29px;
  top: 726px;
  object-fit: cover;
  aspect-ratio: 588/423;
}
.button4 {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 992px;
  height: 60px;
  position: absolute;
  left: 226px;
  top: 3494px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
._1 {
  width: 203px;
  height: 195px;
  position: absolute;
  left: 1207px;
  top: 3408px;
  object-fit: cover;
  aspect-ratio: 203/195;
}
.image-18 {
  width: 1407px;
  height: 782px;
  position: absolute;
  left: 10px;
  top: 1630px;
  object-fit: cover;
  aspect-ratio: 1407/782;
}
.image-17 {
  width: 1394px;
  height: 588px;
  position: absolute;
  left: 29px;
  top: 75px;
  object-fit: cover;
  aspect-ratio: 1394/588;
}
.div {
  color: #828282;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 43px;
  top: 656px;
  width: 967px;
  height: 70px;
}
.div2 {
  color: rgba(44, 41, 41, 0.49);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 59px;
  top: 742px;
  width: 967px;
  height: 70px;
}
.div3 {
  color: rgba(44, 41, 41, 0.49);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 59px;
  top: 1640px;
  width: 967px;
  height: 70px;
}
.div4 {
  color: rgba(44, 41, 41, 0.49);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 33px;
  top: 2430px;
  width: 967px;
  height: 70px;
}
.button5 {
  background: #000000;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 53px;
  top: 3491px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  width: 112px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sokolart-studio-yandex-ru {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 737px;
  top: 3499px;
  width: 695px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.t-me-mariia-v-sokolova {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 263px;
  top: 3499px;
  width: 1327px;
  height: 70px;
}
