.container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 24px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.contacts-btn {
    background-color: black;
    text-align: center;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: lowercase;
    /*width: 10%*/
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #e6e6e6;
    padding: 8px 12px;
    border-radius: 4px;
    justify-content: space-between;
    /*width: 90%;*/
    flex-grow: 1
}

.contact-link {
    color: black;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}