.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ffffff;
  height: 4547px;
  position: relative;
  overflow: hidden;
}
._5-psd-2 {
  width: 1398px;
  height: 529px;
  position: absolute;
  left: 37px;
  top: -49px;
  object-fit: cover;
  aspect-ratio: 1398/529;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 32px;
  top: 3729px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button2 {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 990px;
  height: 60px;
  position: absolute;
  left: 208px;
  top: 3729px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.sokolart-studio-yandex-ru {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 718px;
  top: 3737px;
  width: 693px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1321317460 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 176px;
  top: 1234px;
  overflow: hidden;
}
.studio {
  color: rgba(0, 0, 0, 0.86);
  text-align: left;
  font-family: var(
    --m3-display-large-emphasized-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--m3-display-large-emphasized-font-size, 57px);
  line-height: var(--m3-display-large-emphasized-line-height, 64px);
  letter-spacing: var(--m3-display-large-emphasized-letter-spacing, -0.25px);
  font-weight: var(--m3-display-large-emphasized-font-weight, 500);
  position: absolute;
  left: 1037px;
  top: 305px;
  width: 297px;
  height: 121px;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  height: 61px;
  position: absolute;
  left: 67px;
  top: 2905px;
}
.t-me-mariia-v-sokolova {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 245px;
  top: 3737px;
  width: 1324px;
  height: 70px;
}
._1 {
  width: 219px;
  height: 210px;
  position: absolute;
  left: 1192px;
  top: 3668px;
  object-fit: cover;
  aspect-ratio: 219/210;
}
.sakhalin-dubai {
  color: #828282;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 1165px;
  top: 1003px;
  width: 967px;
  height: 70px;
}
.sakhalin-dubai2 {
  color: #828282;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 75px;
  top: 1726px;
  width: 967px;
  height: 70px;
}
.bocconcino-soho-london {
  color: #828282;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 67px;
  top: 2818px;
  width: 967px;
  height: 70px;
}
.sakhalin-bodrum {
  color: #828282;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 482px;
  top: 2298px;
  width: 967px;
  height: 70px;
}
.bocconcino-mayfair-london {
  color: #828282;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 583px;
  top: 1824px;
  width: 967px;
  height: 70px;
}
._5-psd-1 {
  width: 1398px;
  height: 529px;
  position: absolute;
  left: 42px;
  top: 3957px;
  object-fit: cover;
  aspect-ratio: 1398/529;
}
.studio2 {
  color: rgba(0, 0, 0, 0.86);
  text-align: left;
  font-family: var(
    --m3-display-large-emphasized-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--m3-display-large-emphasized-font-size, 57px);
  line-height: var(--m3-display-large-emphasized-line-height, 64px);
  letter-spacing: var(--m3-display-large-emphasized-letter-spacing, -0.25px);
  font-weight: var(--m3-display-large-emphasized-font-weight, 500);
  position: absolute;
  left: 1049px;
  top: 4326px;
  width: 297px;
  height: 121px;
}
.div2 {
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 49px;
  top: 480px;
  width: 1373px;
  height: 70px;
}
.div-2-span {
  color: rgba(0, 0, 0, 0.65);
}
.div-2-span2 {
  color: rgba(0, 0, 0, 0.36);
}
.div-2-span3 {
  color: rgba(0, 0, 0, 0.66);
}
.div-2-span4 {
  color: rgba(0, 0, 0, 0.42);
}
.div3 {
  color: rgba(0, 0, 0, 0.42);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 58px;
  top: 571px;
  width: 967px;
  height: 70px;
}
.oman-1 {
  width: 1411px;
  height: 791px;
  position: absolute;
  left: 0px;
  top: 644px;
  object-fit: cover;
  aspect-ratio: 1411/791;
}
.image-16 {
  width: 1354px;
  height: 735px;
  position: absolute;
  left: 32px;
  top: 2888px;
  object-fit: cover;
  aspect-ratio: 1354/735;
}
