.about,
.about * {
  box-sizing: border-box;
}
.about {
  background: #ffffff;
  height: 1904px;
  position: relative;
  overflow: hidden;
}
.div {
  color: rgba(0, 0, 0, 0.65);
  text-align: left;
  font-family: var(--title-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-font-size, 64px);
  letter-spacing: var(--title-letter-spacing, -0.02em);
  font-weight: var(--title-font-weight, 700);
  position: absolute;
  left: 131px;
  top: 568px;
  width: 591px;
  height: 74px;
}
.sokolart-studio-2025 {
  color: rgba(0, 0, 0, 0.72);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 137px;
  top: 699px;
  width: 686px;
  height: 1026px;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 636px;
  height: 42px;
  position: absolute;
  left: 898px;
  top: 1296px;
}
.heading2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 703px;
  height: 44px;
  position: absolute;
  left: 898px;
  top: 1406px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.heading3 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 320px;
  height: 63px;
  position: absolute;
  left: 898px;
  top: 1250px;
}
.heading4 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 254px;
  height: 63px;
  position: absolute;
  left: 874px;
  top: 1353px;
}
.heading5 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 347px;
  height: 63px;
  position: absolute;
  left: 914px;
  top: 1199px;
}
._20-ava-patriki-loona-bocconcino-2-ad-interior-spa-still-beauty-space-fonte-15 {
  color: rgba(0, 0, 0, 0.42);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  width: 360px;
  height: 73px;
}
._5-psd-1 {
  width: 1398px;
  height: 529px;
  position: absolute;
  left: 35px;
  top: -59px;
  object-fit: cover;
  aspect-ratio: 1398/529;
}
.studio {
  color: rgba(0, 0, 0, 0.86);
  text-align: left;
  font-family: var(
    --m3-display-large-emphasized-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--m3-display-large-emphasized-font-size, 57px);
  line-height: var(--m3-display-large-emphasized-line-height, 64px);
  letter-spacing: var(--m3-display-large-emphasized-letter-spacing, -0.25px);
  font-weight: var(--m3-display-large-emphasized-font-weight, 500);
  position: absolute;
  left: 1045px;
  top: 302px;
  width: 304px;
  height: 66px;
}
.div2 {
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 36px;
  top: 484px;
  width: 1324px;
  height: 70px;
}
.div-2-span {
  color: rgba(0, 0, 0, 0.42);
}
.div-2-span2 {
  color: rgba(0, 0, 0, 0.65);
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 36px;
  bottom: 59px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button2 {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 1218px;
  height: 60px;
  position: absolute;
  left: calc(50% - 524px);
  top: 1787px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.sokolart-studio-yandex-ru {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 967px;
  top: 1725px;
  width: 434px;
  height: 179px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._79163620336 {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 657px;
  top: 1791px;
  width: 293px;
  height: 70px;
}
.t-me-mariia-v-sokolova {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 484px);
  top: 1790px;
  width: 1324px;
  height: 70px;
}
.img-20251113-153650-640-1 {
  width: 360px;
  height: 594px;
  position: absolute;
  left: 914px;
  top: 570px;
  object-fit: cover;
  aspect-ratio: 360/594;
}
