.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ffffff;
  height: 4654px;
  position: relative;
  overflow: hidden;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  height: 61px;
  position: absolute;
  left: 317px;
  top: 561px;
}
.photo-1-2023-08-26-16-20-55-1 {
  width: 488px;
  height: 529px;
  position: absolute;
  left: 770px;
  top: 3939px;
  aspect-ratio: 488/529;
}
._5-psd-1 {
  width: 1398px;
  height: 529px;
  position: absolute;
  left: 26px;
  top: -33px;
  object-fit: cover;
  aspect-ratio: 1398/529;
}
.photo-2023-11-26-17-03-18-2-1 {
  width: 646px;
  height: 861px;
  position: absolute;
  left: 742px;
  top: 3446px;
  object-fit: cover;
  aspect-ratio: 646/861;
}
.photo-2023-11-26-17-03-18-6-1 {
  width: 645px;
  height: 860px;
  position: absolute;
  left: 63px;
  top: 3446px;
  object-fit: cover;
  aspect-ratio: 645/860;
}
.studio {
  color: rgba(0, 0, 0, 0.86);
  text-align: left;
  font-family: var(
    --m3-display-large-emphasized-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--m3-display-large-emphasized-font-size, 57px);
  line-height: var(--m3-display-large-emphasized-line-height, 64px);
  letter-spacing: var(--m3-display-large-emphasized-letter-spacing, -0.25px);
  font-weight: var(--m3-display-large-emphasized-font-weight, 500);
  position: absolute;
  left: 1031px;
  top: 331px;
  width: 287px;
  height: 120px;
}
.photo-1-2023-08-26-16-14-15-1 {
  width: 603px;
  height: 829px;
  position: absolute;
  left: 92px;
  top: 1547px;
  object-fit: cover;
  aspect-ratio: 603/829;
}
.photo-2023-11-26-17-03-49-3-1 {
  width: 625px;
  height: 834px;
  position: absolute;
  left: 742px;
  top: 1547px;
  object-fit: cover;
  aspect-ratio: 625/834;
}
.photo-2023-11-26-17-01-59-5-1 {
  width: 625px;
  height: 625px;
  position: absolute;
  left: 742px;
  top: 868px;
  object-fit: cover;
  aspect-ratio: 1;
}
._4-1 {
  width: 1350px;
  height: 1052px;
  position: absolute;
  left: 67px;
  top: 2394px;
  object-fit: cover;
  aspect-ratio: 1350/1052;
}
.glass-noir-60 {
  text-align: left;
  position: absolute;
  left: 92px;
  top: 856px;
  width: 617px;
}
.glass-noir-60-span {
  color: rgba(0, 0, 0, 0.65);
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 600;
}
.glass-noir-60-span2 {
  color: rgba(0, 0, 0, 0.42);
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
}
.glass-noir-60-span3 {
  color: rgba(0, 0, 0, 0.42);
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 600;
}
.glass-noir-60-span4 {
  color: rgba(0, 0, 0, 0.42);
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
}
.div {
  color: rgba(0, 0, 0, 0.42);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 85px;
  top: 597px;
  width: 1279px;
}
.div2 {
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 63px;
  top: 489px;
  width: 1324px;
  height: 70px;
}
.div-2-span {
  color: rgba(0, 0, 0, 0.42);
}
.div-2-span2 {
  color: rgba(0, 0, 0, 0.65);
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 92px;
  top: 4424px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button2 {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 990px;
  height: 60px;
  position: absolute;
  left: 268px;
  top: 4424px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.sokolart-studio-yandex-ru {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 778px;
  top: 4432px;
  width: 693px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.t-me-mariia-v-sokolova {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 305px;
  top: 4432px;
  width: 1324px;
  height: 70px;
}
._1 {
  width: 219px;
  height: 210px;
  position: absolute;
  left: 1252px;
  top: 4363px;
  object-fit: cover;
  aspect-ratio: 219/210;
}
