.kong,
.kong * {
  box-sizing: border-box;
}
.kong {
  background: #ffffff;
  height: 3698px;
  position: relative;
  overflow: hidden;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  height: 62px;
  position: absolute;
  left: 1097px;
  top: 1391px;
}
.da-design {
  color: rgba(0, 0, 0, 0.42);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  width: 1317px;
  height: 118px;
}
._007-1 {
  width: 634px;
  height: 900px;
  position: absolute;
  left: 788px;
  top: 1979px;
  object-fit: cover;
  aspect-ratio: 634/900;
}
.heading2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  height: 62px;
  position: absolute;
  left: 1105px;
  top: 2848px;
}
.heading3 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  height: 61px;
  position: absolute;
  left: 67px;
  top: 2905px;
}
._2025 {
  color: rgba(0, 0, 0, 0.42);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  width: 967px;
  height: 70px;
}
.text {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 529px;
  top: 3023px;
  width: 1324px;
  height: 70px;
}
.image-4 {
  width: 1452px;
  height: 414px;
  position: absolute;
  left: -7px;
  top: 15px;
  object-fit: cover;
  aspect-ratio: 1452/414;
}
.kong-2-1 {
  width: 745px;
  height: 931px;
  position: absolute;
  left: 32px;
  top: 1943px;
  object-fit: cover;
  aspect-ratio: 745/931;
}
.kong-3 {
  width: 1335px;
  height: 1375px;
  position: absolute;
  left: 32px;
  top: 568px;
  object-fit: cover;
  aspect-ratio: 1335/1375;
}
.heading4 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  height: 61px;
  position: absolute;
  left: 355px;
  top: 491px;
}
.div {
  color: rgba(0, 0, 0, 0.42);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 13px;
  top: 498px;
  width: 1393px;
  height: 70px;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50px;
  top: 3462px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button2 {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 990px;
  height: 60px;
  position: absolute;
  left: 226px;
  top: 3462px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.sokolart-studio-yandex-ru {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 736px;
  top: 3470px;
  width: 693px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.t-me-mariia-v-sokolova {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 263px;
  top: 3470px;
  width: 1324px;
  height: 70px;
}
._1 {
  width: 219px;
  height: 210px;
  position: absolute;
  left: 1210px;
  top: 3401px;
  object-fit: cover;
  aspect-ratio: 219/210;
}
.rectangle-1 {
  background: #1a2110;
  width: 297px;
  height: 58px;
  position: absolute;
  left: 58px;
  top: 681px;
}
.kong2 {
  color: rgba(221, 219, 176, 0.33);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 109px;
  top: 693px;
  width: 967px;
  height: 70px;
}
