.geometry-2,
.geometry-2 * {
  box-sizing: border-box;
}
.geometry-2 {
  background: #ffffff;
  height: 5669px;
  position: relative;
  overflow: hidden;
}
.frame-1321317460 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 176px;
  top: 1234px;
  overflow: hidden;
}
._022-1 {
  width: 264px;
  height: 318px;
  position: absolute;
  left: 697px;
  top: 1721px;
  aspect-ratio: 264/318;
}
.khlebny-presentation-page-32-2 {
  width: 612px;
  height: 384px;
  position: absolute;
  left: 85px;
  top: 1366px;
  object-fit: cover;
  aspect-ratio: 612/384;
}
.image-19 {
  width: 562px;
  height: 276px;
  position: absolute;
  left: 773px;
  top: 1778px;
  object-fit: cover;
  aspect-ratio: 562/276;
}
.photo-2022-11-27-13-41-53-1 {
  width: 615px;
  height: 384px;
  position: absolute;
  left: 720px;
  top: 1366px;
  object-fit: cover;
  aspect-ratio: 615/384;
}
.image-20 {
  width: 709px;
  height: 272px;
  position: absolute;
  left: 50px;
  top: 1780px;
  object-fit: cover;
  aspect-ratio: 709/272;
}
.div {
  color: #828282;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 50px;
  top: 2054px;
  width: 967px;
  height: 70px;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  height: 61px;
  position: absolute;
  left: 57px;
  top: 4910px;
}
._24-1 {
  width: 1450px;
  height: 977px;
  position: absolute;
  left: 0px;
  top: 4452px;
  object-fit: cover;
  aspect-ratio: 1450/977;
}
.image-18 {
  width: 1407px;
  height: 782px;
  position: absolute;
  left: 0px;
  top: 3635px;
  object-fit: cover;
  aspect-ratio: 1407/782;
}
.div2 {
  color: rgba(44, 41, 41, 0.49);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 49px;
  top: 3645px;
  width: 967px;
  height: 70px;
}
.div3 {
  color: rgba(44, 41, 41, 0.49);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 23px;
  top: 4435px;
  width: 967px;
  height: 70px;
}
.image-17 {
  width: 1394px;
  height: 588px;
  position: absolute;
  left: 32px;
  top: 2089px;
  object-fit: cover;
  aspect-ratio: 1394/588;
}
.div4 {
  color: #828282;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 32px;
  top: 2662px;
  width: 967px;
  height: 70px;
}
._049-1 {
  width: 679px;
  height: 371px;
  position: absolute;
  left: 724px;
  top: 2719px;
  aspect-ratio: 679/371;
}
._038-1 {
  width: 666px;
  height: 371px;
  position: absolute;
  left: 33px;
  top: 2719px;
  aspect-ratio: 666/371;
}
._25-1 {
  width: 1407px;
  height: 868px;
  position: absolute;
  left: 14px;
  top: 2719px;
  object-fit: cover;
  aspect-ratio: 1407/868;
}
.photo-2022-11-26-13-15-47-1 {
  width: 588px;
  height: 423px;
  position: absolute;
  left: 33px;
  top: 2719px;
  object-fit: cover;
  aspect-ratio: 588/423;
}
.div5 {
  color: rgba(44, 41, 41, 0.49);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 63px;
  top: 2735px;
  width: 967px;
  height: 70px;
}
.photo-10-2023-08-26-16-05-13-1 {
  width: 1141px;
  height: 713px;
  position: absolute;
  left: calc(50% - 592px);
  top: 615px;
  object-fit: cover;
  aspect-ratio: 1141/713;
}
.image-4 {
  width: 1426px;
  height: 419px;
  position: absolute;
  left: calc(50% - 720px);
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1426/419;
}
.studio {
  color: rgba(0, 0, 0, 0.86);
  text-align: left;
  font-family: var(
    --m3-display-large-emphasized-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--m3-display-large-emphasized-font-size, 57px);
  line-height: var(--m3-display-large-emphasized-line-height, 64px);
  letter-spacing: var(--m3-display-large-emphasized-letter-spacing, -0.25px);
  font-weight: var(--m3-display-large-emphasized-font-weight, 500);
  position: absolute;
  left: 1071px;
  top: 298px;
  width: 297px;
  height: 121px;
}
.div6 {
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 445px;
  width: 1373px;
  height: 70px;
}
.div-6-span {
  color: rgba(0, 0, 0, 0.34);
}
.div-6-span2 {
  color: rgba(0, 0, 0, 0.64);
}
.div-6-span3 {
  color: rgba(0, 0, 0, 0.42);
}
.div-6-span4 {
  color: rgba(0, 0, 0, 0.77);
}
.div7 {
  color: rgba(0, 0, 0, 0.42);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 50px;
  top: 515px;
  width: 967px;
  height: 70px;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 32px;
  bottom: 79px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.div8 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button2 {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 1218px;
  height: 60px;
  position: absolute;
  left: calc(50% - 528px);
  top: 5532px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.sokolart-studio-yandex-ru {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 963px;
  top: 5470px;
  width: 434px;
  height: 179px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._79163620336 {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 653px;
  top: 5536px;
  width: 293px;
  height: 70px;
}
.t-me-mariia-v-sokolova {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 488px);
  top: 5535px;
  width: 1324px;
  height: 70px;
}
