.frame,
.frame * {
  box-sizing: border-box;
}
.frame {
  background: #ffffff;
  height: 3930px;
  position: relative;
  overflow: hidden;
}
.related-articles-or-posts {
  color: #000000;
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 40px);
  line-height: var(--heading-line-height, 110%);
  font-weight: var(--heading-font-weight, 600);
  position: absolute;
  left: 80px;
  top: 2663px;
  width: 625px;
}
.paragraph {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: absolute;
  right: 20.76%;
  left: 20.76%;
  width: 58.47%;
  top: 2273px;
}
.images {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1757px;
}
.image {
  border-radius: 8px;
  flex-shrink: 0;
  width: 624px;
  height: 436px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.article-title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: center;
  width: 50.9%;
  position: absolute;
  right: 43.54%;
  left: 5.56%;
  top: 244px;
}
.article-or-post-title {
  color: #000000;
  text-align: left;
  font-family: var(--title-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-font-size, 64px);
  letter-spacing: var(--title-letter-spacing, -0.02em);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.subheading-that-sets-up-context-shares-more-info-about-the-author-or-generally-gets-people-psyched-to-keep-reading {
  color: rgba(0, 0, 0, 0.75);
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation {
  background: #ffffff;
  height: 164px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.items {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m, 48px);
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 80px;
  top: 56px;
}
.page {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.button2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.site-name {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: absolute;
  left: 80px;
  top: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation-footer {
  background: #ffffff;
  height: 264px;
  position: absolute;
  right: -445px;
  left: 445px;
  top: 3283px;
  overflow: hidden;
}
.items2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 517px;
  top: 48px;
}
.topic {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page2 {
  color: #454545;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.items3 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 298px;
  top: 48px;
}
.items4 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 80px;
  top: 48px;
}
.site-name2 {
  color: #000000;
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
  position: absolute;
  left: 80px;
  top: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social-icons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 80px;
  top: 176px;
}
.buttons-icon {
  border-radius: 4px;
  padding: 8px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px 0 0 0;
  width: 1280px;
  height: 0px;
  position: absolute;
  left: 80px;
  top: 1px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
