.office,
.office * {
  box-sizing: border-box;
}
.office {
  background: #ffffff;
  height: 3267px;
  position: relative;
  overflow: hidden;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 314px;
  height: 61px;
  position: absolute;
  left: 67px;
  top: 2905px;
}
._2024 {
  color: rgba(0, 0, 0, 0.42);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 67px;
  top: 2966px;
  width: 967px;
  height: 70px;
}
.image-4 {
  width: 1440px;
  height: 405px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 32/9;
}
.studio {
  color: rgba(0, 0, 0, 0.86);
  text-align: left;
  font-family: var(
    --m3-display-large-emphasized-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--m3-display-large-emphasized-font-size, 57px);
  line-height: var(--m3-display-large-emphasized-line-height, 64px);
  letter-spacing: var(--m3-display-large-emphasized-letter-spacing, -0.25px);
  font-weight: var(--m3-display-large-emphasized-font-weight, 500);
  position: absolute;
  left: 1037px;
  top: 305px;
  width: 297px;
  height: 121px;
}
.div {
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 34px;
  top: 485px;
  width: 1373px;
  height: 70px;
}
.div-span {
  color: rgba(0, 0, 0, 0.36);
}
.div-span2 {
  color: rgba(0, 0, 0, 0.66);
}
._2-st-office-17-1 {
  width: 1313px;
  height: 874px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 570px;
  object-fit: cover;
  aspect-ratio: 1313/874;
}
._2-st-office-374-1 {
  width: 589px;
  height: 354px;
  position: absolute;
  left: calc(50% - -67px);
  top: 2032px;
  object-fit: cover;
  aspect-ratio: 589/354;
}
._2-st-office-322-1 {
  width: 590px;
  height: 497px;
  position: absolute;
  left: calc(50% - -84px);
  top: 1484px;
  object-fit: cover;
  aspect-ratio: 590/497;
}
.image-6 {
  width: 679px;
  height: 364px;
  position: absolute;
  left: calc(50% - 653px);
  top: 2032px;
  object-fit: cover;
  aspect-ratio: 679/364;
}
.image-8 {
  width: 576px;
  height: 469px;
  position: absolute;
  left: calc(50% - 653px);
  top: 2436px;
  object-fit: cover;
  aspect-ratio: 576/469;
}
.image-9 {
  width: 687px;
  height: 469px;
  position: absolute;
  left: calc(50% - 31px);
  top: 2436px;
  object-fit: cover;
  aspect-ratio: 687/469;
}
.image-2024-09-24-14-38-13-copy-1 {
  width: 694px;
  height: 491px;
  position: absolute;
  left: calc(50% - 653px);
  top: 1484px;
  object-fit: cover;
  aspect-ratio: 694/491;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 25px;
  bottom: 93px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button2 {
  background: #e6e6e6;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 1218px;
  height: 60px;
  position: absolute;
  left: calc(50% - 535px);
  top: 3116px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.sokolart-studio-yandex-ru {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 956px;
  top: 3054px;
  width: 434px;
  height: 179px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._79163620336 {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 646px;
  top: 3120px;
  width: 293px;
  height: 70px;
}
.t-me-mariia-v-sokolova {
  color: rgba(0, 0, 0, 0.99);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 495px);
  top: 3119px;
  width: 1324px;
  height: 70px;
}
